<div ng-controller="MyEventsController as myEvents">
    <div ng-show="base.currentUser.approved">
        <div class="info-text">
            <i class="fa fa-check"></i>
            Upcoming events you are registered for
        </div>
        <ul class="event-list list-unstyled">
            <li ng-repeat="event in myEvents.myEvents" ui-sref="event-details({eventId: event._id})" ng-class="{'full': event.totalSlots - event.volunteers.length == 0}" class="repeated-item animate">
                <div class="event-badge">
                    <span class="badge" ng-show="!event.full">{{event.slotsAvailable}}</span>
                    <span class="badge full" ng-show="event.full">full</span>
                    <div>
                        <i class="is-registered fa fa-check" ng-show="event.registered"></i>
                    </div>
                </div>
                <div class="title">{{event.title}}</div>
                <div class="date">{{event.date | date:'EEE, MMM d, h:mm a'}}</div>
            </li>
        </ul>
        <div ng-if="myEvents.myEventsLoaded && myEvents.myEvents.length == 0" style="text-align: center; margin-top: 40px;">
            <i class="fa fa-exclamation-triangle text-danger" style="font-size: 60px; margin-bottom: 10px;"></i><br />
            You haven't registered for any upcoming events.<br />
            <a ui-sref="event-list">Go find some</a>.
        </div>
    </div>
</div>
